In [18]:
import itertools
import pandas as pd

# Define the possible numbers
numbers = [0, 1, 2, 3, 4]

# Generate all possible combinations of the numbers for 8 people
combinations = itertools.product(numbers, repeat=8)

# Convert the combinations to a list of tuples
combo_list = list(combinations)

# Print the first 10 tuples in the list for verification
# print(combo_list[:10])

combo_list = pd.DataFrame(combo_list)

In [19]:
combo_list['sum'] = combo_list[0]+combo_list[1]+combo_list[2]+combo_list[3]+combo_list[4]+combo_list[5]+combo_list[6]+combo_list[7]
combo_list = combo_list[combo_list['sum']==20]
combo_list

        0  1  2  3  4  5  6  7  sum
3124    0  0  0  4  4  4  4  4   20
5624    0  0  1  3  4  4  4  4   20
6124    0  0  1  4  3  4  4  4   20
6224    0  0  1  4  4  3  4  4   20
6244    0  0  1  4  4  4  3  4   20
...    .. .. .. .. .. .. .. ..  ...
390300  4  4  4  4  2  2  0  0   20
390376  4  4  4  4  3  0  0  1   20
390380  4  4  4  4  3  0  1  0   20
390400  4  4  4  4  3  1  0  0   20
390500  4  4  4  4  4  0  0  0   20

[23940 rows x 9 columns]